/* ------------------------------- */
/* ---------- General ------------ */
/* ------------------------------- */
:root {
    --background: #e3dcd2;
    --filler: #100c0d;
    --wrong: #cc8b65;
    --right: #076b55;
    --highlight: #f4eee4;
    --shadow: #2a2123;
}
body {
    height: 100%;
    background-attachment: fixed; 
    /* For browsers that do not support gradients */
    background-color: var(--background); 
    background-image: linear-gradient(
        to bottom right, 
        var(--filler), 
        var(--right)
    );
    overflow-x: hidden;
}
.center {
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    margin-top: 100px;
    left: 40%;
  
}
input[type="number"] {
    font-size:27px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: right;
}
::placeholder {
    color: var(--filler);
}
/* ------------------------------- */
/* ----------- Buttons ----------- */
/* ------------------------------- */
.btn {
    color: var(--background);
}
.btn:focus,
.btn:hover {
    color: var(--highlight);
}
.btn:disabled {
    color: var(--filler);
}
.form-check-label {
    color: var(--background);
}
/* ------------------------------- */
/* ---------- Cell Fade ---------- */
/* ------------------------------- */
.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}
.clear {
    animation-name: clear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
.g0 {
    animation-delay: 0s;
}.g1 {
    animation-delay: 0.05s;
}.g2 {
    animation-delay: 0.1s;
}.g3 {
    animation-delay: 0.15s;
}.g4 {
    animation-delay: 0.2s;
}.g5 {
    animation-delay: 0.25s;
}.g6 {
    animation-delay: 0.3s;
}.g7 {
    animation-delay: 0.35s;
}.g8 {
    animation-delay: 0.4s;
}.g9 {
    animation-delay: 0.45s;
}.g10 {
    animation-delay: 0.5s;
}.g11 {
    animation-delay: 0.55s;
}.g12 {
    animation-delay: 0.6s;
}.g13 {
    animation-delay: 0.65s;
}.g14 {
    animation-delay: 0.7s;
}.g15 {
    animation-delay: 0.75s;
}.g16 {
    animation-delay: 0.8s;
}
@keyframes fadeIn {
    from {
        font-size: 0px;
    }
    to {
        font-size: 27px;
    }
}
@keyframes clear {
    from {
        font-size: 27px;
        opacity: 0;
    } 
    to {
        font-size: 0px;
        opacity: 1;
    }
}
/* ------------------------------- */
/* --------- Grid Items ---------- */
/* ------------------------------- */
.grid-item {
    background-color: var(--background);
	border: 1px solid var(--filler);
	padding: 3px 0;
	font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
    color: var(--right);
}
.grid-item:hover {
    border: 2px solid var(--filler);
}
.grid-item:focus {
    outline: none;
    animation: blink-animation 0.5s 
        steps(2, start) infinite;
}
@keyframes blink-animation {
    from {
        border: 1px solid var(--filler);
    }
    to {
        border: 3px solid var(--filler);
    }
} 
.given {
    color: var(--filler)
}
.wrong-answer {
    /* background-color: var(--wrong); */
    color: var(--wrong);
}
.right-answer {
    /* background-color: var(--right); */
    color: var(--right);
}
.highlighted {
    background-color: var(--highlight);
}
/* ------------------------------- */
/* ------------ Grid ------------- */
/* ------------------------------- */
.grid-container {
    color: var(--shadow);
	display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 456px;
    height: 456px;
	grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
	padding: 0px;
    border: 3px solid var(--filler);
    background: var(--filler);
    border-radius: 10px;
    box-shadow: 7px 7px 12px;
}
.verticle-space {
    border-left: 3px solid var(--filler);
}
.horizontal-space {
    border-top: 3px solid var(--filler);
}
.top-left-edge {
    border-top-left-radius: 7px;
}
.bottom-left-edge {
    border-bottom-left-radius: 7px;
}
.top-right-edge {
    border-top-right-radius: 7px;
}
.bottom-right-edge {
    border-bottom-right-radius: 7px;
}