body {
    background: gray;
}
.board {
    display: flex;
    align-items: center;
}
input[type="number"]
{
    font-size:27px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: right;
}
input[type="submit"],
input[type="button"]
{
    margin-top: 10px;
    padding: 5px 15px;
    background: #99e0b2;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* ------------ grid ------------- */
.grid-container {
	display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 450px;
    height: 450px;
	grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
	padding: 0px;
    border: 3px solid black;
    background: black;
    border-radius: 10px;
}
.grid-item {
    background-color: lightgray;
	border: 1px solid black;
	padding: 7px 0;
	font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.given {
    color: rgb(60, 145, 133);
}
.submit-btn {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.verticle-space {
    border-left: 3px solid black;
}
.horizontal-space {
    border-top: 3px solid black;
}
.top-left-edge {
    border-top-left-radius: 7px;
}
.bottom-left-edge {
    border-bottom-left-radius: 7px;
}
.top-right-edge {
    border-top-right-radius: 7px;
}
.bottom-right-edge {
    border-bottom-right-radius: 7px;
}
/* ------------------------------- */
